<ion-card>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="2">
        <ion-button (click)="toggle()"
          ><ion-icon [name]="symbol"></ion-icon
        ></ion-button>
      </ion-col>
      <ion-col>
        <ion-card-title class="ion-text-left ion-padding-start">{{
          title
        }}</ion-card-title>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card-content [hidden]="collapsed">
    <ng-content></ng-content>
  </ion-card-content>
</ion-card>
