<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reactive form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-loading-feedback [state]="state" (retryPressed)="loadUser()">
    <h1>Form</h1>

    <form [formGroup]="form" (submit)="submitForm()">
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Birthdate</ion-label>
        <ion-datetime formControlName="birthDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Sex</ion-label>
        <ion-select formControlName="sex">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Phone</ion-label>
        <ion-input type="number" formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="ion-margin ion-text-right">
        <ion-button type="submit" [disabled]="form.invalid || sendToServer"
          >Submit</ion-button
        >
      </div>
    </form>

    <h1>Summary</h1>

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-label>{{ user.name }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Birthdate</ion-label>
      <ion-label>{{ user.birthDate }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Sex</ion-label>
      <ion-label>{{ user.sex }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Phone</ion-label>
      <ion-label>{{ user.phone }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-label>{{ user.email }}</ion-label>
    </ion-item>
  </app-loading-feedback>
</ion-content>
