<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fruit List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-loading-feedback [state]="state" (retryPressed)="reloadData()">
    <app-expandable-content
      *ngFor="let fruit of fruits; let i = index"
      [title]="fruit.name"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <img src="assets/images/fruits/{{ fruit.image }}" />
          </ion-col>
          <ion-col>
            <h1>{{ fruit.name }}</h1>
            <p>{{ fruit.description }}</p>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-end">
          <ion-button
            color="primary"
            *ngIf="fruit.link"
            [routerLink]="fruit.id"
          >
            View Details
          </ion-button>
        </ion-row>
      </ion-grid>
    </app-expandable-content>
  </app-loading-feedback>
</ion-content>
